body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-floating > label {
    transition: transform 0.8s ease, opacity 1.5s ease;
}

.login-container {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    background-color: #FFFDFB;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
}
