body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #F8F9FA; /* Cambia el color de fondo si lo deseas */
}

.form-floating > label {
    transition: transform 0.8s ease, opacity 1.5s ease;
}

.login-container {
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: #FFFDFB; /* Color de fondo del formulario */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para el contenedor */
    position: relative; /* Asegura que el contenedor sea estático respecto a su padre */
}

.invalid-feedback {
    display: none; /* Oculta por defecto */
}

input:invalid + .invalid-feedback {
    display: block; /* Muestra el mensaje de error cuando el input es inválido */
}
