body {
}

.nav-customColor {
    background-color: #FFFDFB;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
}

/*ICONO DE USUARIO*/
.dropdown-menu-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .dropdown-menu-center .dropdown-item {
        text-align: center;
    }

.dropdown-item-btn {
    text-align: center;
}

.dropdown-menu .dropdown-item {
    display: flex;
    justify-content: center;
}
.dropdown-menu {
    display: none; /* Inicialmente oculto */
}

.form-check {
    text-align: center;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-check-input {
    margin-right: 0.5rem;
}

.d-inline-flex {
    display: inline-flex;
    align-items: start;
}
