body {
}

.nav-customColor {
    background-color: #FFFDFB;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
}

/*ICONO DE USUARIO*/
.dropdown-menu-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .dropdown-menu-center .dropdown-item {
        text-align: center;
    }

.dropdown-item-btn {
    text-align: center;
}

.dropdown-menu .dropdown-item {
    display: flex;
    justify-content: center;
}
.dropdown-menu {
    display: none; /* Inicialmente oculto */
}

.form-check {
    text-align: center;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-check-input {
    margin-right: 0.5rem;
}

.d-inline-flex {
    display: inline-flex;
    align-items: start;
}


/*paginacio*/
.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td {
    display: inline;
}
 
.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #1e90ff;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
 
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;    
    margin-left: -1px;
    z-index: 2;
    color: #1e90ff;
    background-color: #f5f5f5;
    border-color: #dddddd;
    cursor: default;
}
 
.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover,
.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > span:focus {
    color: #1e90ff;
    background-color: #eeeeee;
    border-color: #dddddd;
}